{
  "holdingcell_idle": {
    "name": "holdingcell_idle",
    "friendlyName": "Holding Cell Idle",
    "actorCount": 1,
    "defaultState": "idle",
    "actorAssetRoot": "/objects/fwnpcstations/actors/humanoid",
    "states": {
      "idle": {
        "animationState": "idle",
        "animationRate": 1.0,
        "statusText": "Layered pod render / idle"
      },
      "struggle": {
        "animationState": "struggle",
        "animationRate": 1.0,
        "statusText": "Layered pod render / struggle"
      }
    }
  }
}